.contact_page {
    padding: 5rem;
}

.contact  {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

#contact_text {
    font-size: var(--fs-large); 
    letter-spacing: 0.125rem;
    display: flex;
    align-items: flex-end;
}

#logo {
    width: auto;
    height: 8rem;
    transition: transform 0.3s ease;
}

.contact-logo {
    height: 8rem;
    width: auto;
    margin: 0 0.5rem;
}

.contact_details {
        margin-top: 20rem;
}

#address {
    font-size: var(--fs-small); 
    color: white; 
    margin: 0.625rem 0;
}

#email {
    font-size: var(--fs-small);
    font-weight: 200;
    color: white;
    padding: 0.3125rem 0.625rem; 
    margin: 0.625rem 0; 
    border: 0.0625rem solid var(--clr-white); 
    border-radius: 1rem;
    display: inline-block;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .contact_page {
    Padding: 4rem;
    }
    #contact_text {
    Font-size: 6rem;
    }
    #logo {
        width: auto;
        height: 6rem;
    }
    .contact_details {
        margin-top: 14rem;
}
    }
    
    @media only screen and (max-width: 600px) {
        .contact_page {
        Padding: 3rem;
        }
        #contact_text {
        Font-size: 4rem;
        }
        #logo {
            width: auto;
            height: 4rem;
        }
        .contact_details {
            margin-top: 16rem;
    }
    } 