* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

:root {
    --clr-black: black;
    --clr-white: white;
    --clr-accent: #E7FE6F;

    --fs-small: 1rem;
    --fs-large: 8rem;
}

body {
    font-family: 'Lexend', sans-serif;
}

.contact_page {
    padding: 5rem;
    position: relative;
}

.contact  {
    margin: 0 auto;
    text-align: left; 
    font-size: var(--fs-large);
    letter-spacing: 0.125rem; 
    vertical-align: middle;
    position: relative;
}

h2 {
    font-size: var(--fs-large); 
    letter-spacing: 0.125rem; 
    color: var(--clr-white); 
}

.contact-logo {
    width: auto;
    height: 8rem;
    vertical-align: middle;
    margin-bottom: 2rem;
}



.contact_details {
        margin-top: 20rem;
}

#address {
    font-size: var(--fs-small); 
    color: white; 
    margin: 0.625rem 0;
}

#email {
    font-size: var(--fs-small);
    font-weight: 200;
    color: white;
    padding: 0.3125rem 0.625rem; 
    margin: 0.625rem 0; 
    border: 0.0625rem solid var(--clr-white); 
    border-radius: 1rem;
    display: inline-block;
}