#projects {
  padding: 5rem 9rem;
}

.projects-slider {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  border: 1px solid var(--clr-black);
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}

.slides img {
  width: 100%;
  display: none;
  border-radius: 1.5rem;
}
img.displaySlide {
  display: block;
  animation: fadeAnimation 1s ease-in-out;
}

.projects-info {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  .project-details {
    .project-author, .project-tech {
        font-weight: 200;
    }
  }
  .navigation-indicators {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    .indicator {
      height: 0.7rem;
      width: 0.7rem;
      border: 1px solid var(--clr-white);
      border-radius: 50%;
    }
    .indicator.active {
      background-color: var(--clr-white);
    }
  }
  .project-button {
    button {
        float: right;
      font-size: var(--fs-small);
      font-weight: 200;
      color: white;
      background-color: transparent;
      border: 1px solid var(--clr-white);
      padding: 0.2rem 0.8rem;
      border-radius: 1rem;
      &:hover {
        background-color: var(--clr-white);
        color: var(--clr-black);
      }
    }
  }
}

@keyframes fadeAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
